<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siteduzero.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Launcher -->
        <activity
            android:name=".samples.SamplesListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Part 1 -->
        <activity
            android:name=".fragments.fixe.FixeActivity"
            android:label="@string/title_fragment_fixe" />
        <activity
            android:name=".fragments.dynamic.DynamicActivity"
            android:label="@string/title_fragment_dynamic" />
        <activity
            android:name=".lists.simple.SimpleListActivity"
            android:label="@string/title_listfragment_simple" />
        <activity
            android:name=".lists.custom.CustomListActivity"
            android:label="@string/title_listfragment_custom" />
        <activity
            android:name=".lists.dynamic.DynamicListActivity"
            android:label="@string/title_listfragment_dynamic" />
        <activity
            android:name=".dynamicui.DynamicUIActivity"
            android:label="@string/title_dynamic_ui" />
        <activity
            android:name=".settings.UsingSettingsActivity"
            android:label="@string/title_fragment_settings" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_fragment_settings" >

            <!-- This intent filter indicates to the system that this is the activity that controls data usage of your application. -->
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialog.DialogActivity"
            android:label="@string/title_fragment_dialog" />
        <!-- Part 2 -->
        <activity
            android:name=".actionbar.ActionBarSimpleActivity"
            android:label="@string/title_actionbar_simple"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".actionbar.ActionBarContextualActivity"
            android:label="@string/title_actionbar_contextual" />
        <activity
            android:name=".actionbar.ActionBarContextualListActivity"
            android:label="@string/title_actionbar_contextual_list" />
        <activity
            android:name=".navigation.drawer.DrawerLayoutActivity"
            android:label="@string/title_drawer" />
        <activity
            android:name=".navigation.slidingpane.SlidingPaneLayoutActivity"
            android:label="@string/title_sliding_pane" />
        <activity
            android:name=".navigation.viewpager.ViewPagerActivity"
            android:label="@string/title_viewpager" />
        <activity
            android:name=".multiscreens.MultiScreensActivity"
            android:label="@string/title_multiple_screens" />
        <activity
            android:name=".notifications.NotificationsActivity"
            android:label="@string/title_notifications" />
        <activity
            android:name=".nfc.NFCEmulatorActivity"
            android:label="@string/title_nfc_emulator" />
        <activity
            android:name=".nfc.NFCActivity"
            android:exported="false"
            android:label="@string/title_nfc_normal" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nfc.NFCBeamActivity"
            android:exported="false"
            android:label="@string/title_nfc_beam" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/com.siteduzero.android.nfc" />
            </intent-filter>
        </activity>
        <!-- Part 3 -->
        <activity
            android:name="com.siteduzero.android.requests.products.PHPRequestActivity"
            android:label="@string/title_remote_data" />
        <activity
            android:name="com.siteduzero.android.requests.security.AuthenticationActivity"
            android:label="@string/title_request_auth" />
        <!-- Part 4 -->
        <activity
            android:name=".services.auth.ServiceAuthorizationListActivity"
            android:label="@string/title_services_authorization" />
        <activity
            android:name=".services.auth.ServiceAuthorizationActivity"
            android:label="@string/title_services_authorization" />
        <activity
            android:name=".services.plus.SignInActivity"
            android:label="@string/title_services_sign_in" />
    </application>

</manifest>