<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="org.randoomz.demo"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">

    <!-- Launcher -->
    <activity
      android:name="org.randoomz.demo.samples.MainActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <!-- Part 1 -->
    <activity
      android:name="org.randoomz.demo.fragments.fragments.fixe.FixeActivity"
      android:label="@string/title_fragment_fixe"
      android:theme="@style/AppTheme.Fragments"/>
    <activity
      android:name="org.randoomz.demo.fragments.fragments.dynamic.DynamicActivity"
      android:label="@string/title_fragment_dynamic"
      android:theme="@style/AppTheme.Fragments"/>
    <activity
      android:name="org.randoomz.demo.fragments.lists.simple.SimpleListActivity"
      android:label="@string/title_listfragment_simple"
      android:theme="@style/AppTheme.Fragments"/>
    <activity
      android:name="org.randoomz.demo.fragments.lists.custom.CustomListActivity"
      android:label="@string/title_listfragment_custom"
      android:theme="@style/AppTheme.Fragments"/>
    <activity
      android:name="org.randoomz.demo.fragments.lists.dynamic.DynamicListActivity"
      android:label="@string/title_listfragment_dynamic"
      android:theme="@style/AppTheme.Fragments"/>
    <activity
      android:name="org.randoomz.demo.fragments.dynamicui.DynamicUIActivity"
      android:label="@string/title_dynamic_ui"
      android:theme="@style/AppTheme.Fragments"/>
    <activity
      android:name="org.randoomz.demo.fragments.settings.UsingSettingsActivity"
      android:label="@string/title_fragment_settings"
      android:theme="@style/AppTheme.Fragments"/>
    <activity
      android:name="org.randoomz.demo.fragments.settings.SettingsActivity"
      android:label="@string/title_fragment_settings"
      android:theme="@style/AppTheme.Fragments">

      <!-- This intent filter indicates to the system that this is the activity that controls data usage of your application. -->
      <intent-filter>
        <action android:name="android.intent.action.MANAGE_NETWORK_USAGE"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity
      android:name="org.randoomz.demo.fragments.dialog.DialogActivity"
      android:label="@string/title_fragment_dialog"
      android:theme="@style/AppTheme.Fragments"/>
  </application>

</manifest>